<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<title></title>
<hdjs/>
</head>
<body>
	<div class='wrap'>
		<div class='title-header'>
			生成首页
		</div>
		<br/>
		<form action="{|U:'createIndex'}" method='post'>
			<input type="submit" value='开始生成' name='submit' class='hd-success'>
		</form>
		<div class='title-header'>
			生成列表页
		</div>
		<br/>
		<form action="{|U:'createCategory'}" method='post'>
			<input type="submit" value='开始生成' name='submit' class='hd-success'>
		</form>
		<div class='title-header'>
			生成内容页
		</div>
		<br/>
		<form action="{|U:'createContent'}" method='post'>
			<input type="submit" value='开始生成' name='submit' class='hd-success'>
		</form>
    </div>
</body>
</html>