<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<title>NQCMS系统安装完成</title>
<hdjs/>
	<css file="__CONTROLLER_VIEW__/Css/css.css"/>
</head>
<body>
	<div class='wrapper'>
		<div class='box'>
			<h1>安装完成</h1>
			<div class='copyright'>
				<a href="__ROOT__">访问首页</a>
				<a href="{|U:'Admin/Index/index'}">进入后台</a>
			</div>
		</div>
	</div>
</body>
</html>