<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>NQCMS系统安装</title>
 <css file="__CONTROLLER_VIEW__/Css/css.css"/>
<script type="text/javascript" src="__CONTROLLER_VIEW__/js/common.js"></script>
<script type="text/javascript" src="__CONTROLLER_VIEW__/js/transport.js"></script>
<hdjs/>
</head>
<body id="welcome">

<include file="__CONTROLLER_VIEW__/header.html"/>
<div id="content">

  <div id="wrapper" style="padding:0 0 30px;float:left;">
    <h2>NQCMS版权信息</h2>
      <iframe src="__CONTROLLER_VIEW__/license_zh_cn.html" style="font-size:30px;text-align: center;margin-top:15px; width:750px;height:350px; "></iframe> 
  </div>
  <div class="step" style="width:227px;float:left; height:462px;overfloat:hidden">
    <img src="__CONTROLLER_VIEW__/images/install-step1-zh_cn.gif" alt="" />
  </div>
  <input type="checkbox" value="" />我已仔细阅读，并同意上述条款中的所有内容
  <form action="{|U:'setDb'}" method="poat">
    <input type="submit" value="下一步" class="hd-success" />
  </form>
</div>
<div id="copyright">
    <div id="copyright-inside">
      © 2013-2014 上海XXXXX科技有限公司。保留所有权利。
    </div>
</div>
</body>
</html>