<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>NQCMS系统安装</title>
<script type="text/javascript" src="__CONTROLLER_VIEW__/js/check.js"></script>
<script type="text/javascript" src="__CONTROLLER_VIEW__/js/common.js"></script>
<script type="text/javascript" src="__CONTROLLER_VIEW__/js/transport.js"></script>
<hdjs/>
<css file="__CONTROLLER_VIEW__/Css/css.css"/>
</head>
<body>
  <include file="__CONTROLLER_VIEW__/header.html"/>
<div id="content" style="height:450px">
 <form action="{|U:'insertSql'}" method="post">
  <div id="wrapper" style="padding:0 0 30px;float:left;" class=" title-header">
    <h2>服务器信息</h2>
      <table class="table2 hd-form">
        <tr>
          <th>主机</th>
          <td >
            <input type="text" class="w200" name="DB_HOST"
            value="{|C('DB_HOST')}" />
          </td>
        </tr>
        <tr>
          <th>账号</th>
          <td>
            <input type="text" class="w200" name="DB_USER" value="{|C('DB_user')}" />
          </td>
        </tr>
        <tr>
          <th>密码</th>
          <td>
              <input type="password" name="DB_PASSWORD"  class="w200"/>
          </td>
        </tr>
        <tr>
          <th>数据库名</th>
          <td><input type="text" name="DB_DATABASE" class="w200"/></td>
        </tr>
      </table>
          <h2>管理员信息</h2>
        <table class="table2 hd-form">
          <tr>
            <th>管理员账号</th>
            <td>
                <input type="text" name="username" value="admin"  class="w200" />
            </td>
          </tr>
          <tr>
            <th>管理员密码</th>
            <td>
                <input type="password" name="password" class="w200" />
            </td>
          </tr>  
        </table>
  </div>
  <div class="step" style="width:227px;float:left; height:375px;overfloat:hidden">
    <img src="__CONTROLLER_VIEW__/images/install-step2-zh_cn.gif" alt="" />
  </div>
   <div class="btn" >
    <a href="{|U:'install'}">
      <input type="submit" value="上一步" class="hd-cancel"/>
    </a>
        <input type="submit" value="下一步" class="hd-success" />
    </form>
  </div>
</div>
 
 
<div id="copyright">
    <div id="copyright-inside">
      © 2013-2014 上海XXXXX科技有限公司。保留所有权利。
    </div>
</div>
</body>
</html>