<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<title>编辑友情链接</title>
<hdjs/>
</head>
<body>
    <div class='wrap'>
        <div class="menu_list">
            <ul>
                <li><a href="{|U:'index'}"  class="action">链接列表</a></li>
                <li><a href="javascript:void();">修改链接</a></li>
            </ul>
        </div> 
    	<form method='post' class="hd-form">
            <input type="hidden" name='lid' value="{$data.lid}">
                <div class="title-header">修改链接</div>
                    <table class='table1'>
                        <tr>
                            <th>企业名称</th>
                            <td>
                                <input type="text" name="name" value="{$data.name}">
                            </td>
                        </tr>
                        <tr>
                            <th class='w100'>企业网址</th>
                            <td>
                                <input type="text" name='url' class='w300'  value="{$data.url}">
                            </td>
                        </tr>
                        <tr>
                            <th>缩略图</th>
                            <td>
                                <upload name="thumb" message="0" size='2' water='0' data="$data['thumb']"/>
                            </td>
                        </tr>
                    </table>
                <div class='position-bottom'>
                    <input type="submit" class='hd-success'  value="提交">
                </div>
       </form>
    		
    </div>
    	<js file='__CONTROLLER_VIEW__/Js/js.js'/>
    </body>
</html>